body
{
    height:100%;
    min-height: 100%;
    background-attachment: fixed;
    margin:0;
    padding:0;
    background-image: linear-gradient(0deg, rgba(46,64,64,1) 0%, rgba(0,0,0,1) 50%);
}


.allerta-stencil-regular
{
    font-family: "Allerta Stencil", sans-serif;
    font-size: 2.36vw;
    font-style: normal;
}
  

header
{
    text-align: center;
    color:blanchedalmond;
}


.logo-container
{
    text-align: center;
    color:azure;
}


.container
{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}


.container a
{
    font-size: 1.11vw;
    color: #36C2CD;
}


.container p1
{
    font-size: 1.11vw;
    color: white;
}


.divider
{
    height:85px;
    width:5px;
    display: inline-block;
}


.box
{
    background-color: white;
    font-size: 2.36vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    padding: 1.5rem;
    width: 45%;
    height: 23vw;
    margin-bottom: 2%;
    margin-top: 2%;
    border-style: solid;
    border-width: 0.2vw;
    border-color: #36C2CD;
}


.box label 
{
    display:block;
    margin-top:0.4rem;
    margin-bottom: 0.6rem;
    color: #36C2CD;
}


.box input
{
    background-color : black;
    color: white;
    width: 90%;
    height: 7.2vh;
    margin-bottom: 1rem;
    margin-top: 3rem;
    border-style: solid;
    border-width: 0.2vw;
    border-color: #36C2CD;
}


input 
{
    padding-left: 2rem;
    font-size: 1.11vw;
}


::placeholder
{
    color: #939598;
    font-size: 1.11vw;
}


button 
{
    width: 15%;
    height: 5.8vh;
    font-size: 1.5vw;
    background-color: #36C2CD;
    font-family: "Allerta Stencil";
    color: white;
    margin-bottom: 20px;
}


button:hover
{
    background-color: #0B828B;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
}


img
{
    margin-top: 0%;
    margin-bottom: -4.5%
}


#loginResult
{
    display: inline-block;
    font-size: 0.55em;
    width: 90%;
    text-align: center;
    margin-bottom: 2%;
    font-family: sans-serif;
    color: #95060a;
}


.top-left-image 
{
    position: fixed;
    top: 0;
    left: 0;
    height: auto;  
    width: 20.83vw;
}


footer
{
    align-items: right;
    justify-content: right;
}


.bottom-right-image
{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20.83vw;
    margin-bottom: 0%;
    height: auto; 
}

.top-right-image
{
    position: fixed;
    top: 0;
    right: 0;
    width: 20.83vw;
    height: auto;
}

.logo-image
{
    margin-top: 2%;
    margin-bottom: -4.5%;
    width: 23vw;
}

.sidebar
{
    background-color: white;
    border-style: solid;
    border-width: 0.2vw;
    border-color: #36C2CD;
    align-items: center;
    width: 7.3%;
    height: 10%;
    margin-left: 7%;
    margin-top: 6%;
}

.icons
{
    width: 100%;
    margin-top: 6.3vh;
}

.icons:hover
{
    background-color: #bae1e4;
}

.welcomeMsg
{
    font-family: "Allerta Stencil";
    color: white;
    
    margin-top: -32%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcomeMsg w
{
    font-family: "Allerta Stencil";
    margin-top: -15px;
    font-size: 3.13vw;
    color: white;
}

.logo-welcome
{
    text-align: center;
    justify-content: center;
    display: inline-table;
    vertical-align: middle;
    position: relative;
    margin-top: -22px;
    width: 3.47vw;
}

.welcometext-container
{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-align: center;
}

.text-welcome1
{
    font-size: 1.32vw;
    color: white;
    font-family: sans-serif;
    margin: 2px auto 0;
    text-align: center;
    width: fit-content;
    max-width: 41.67vw;
}

.text-welcome2
{
    font-size: 1.32vw;
    color: white;
    font-family: sans-serif;
    margin: 2px auto 0;
    text-align: center;
    width: fit-content;
    max-width: 41.67vw;
}

article
{
    align-items: center;
    justify-content: center;
    
}

.text-welcome3
{
    font-size: 1.32vw;
    color: white;
    font-family: sans-serif;
    margin: 2px auto 0;
    text-align: center;
    width: fit-content;
    max-width: 41.67vw;
}

.search-text
{
    font-family: "Allerta Stencil";
    margin-top: -78.1vh;
    justify-content: center;
    text-align: center;
    font-size: 3.13vw;
    color: #36C2CD;
}

.search-container
{
    display: flex;
    justify-content: center;

}

.search-box
{
    background-color : white;
    color: black;
    width: 25.6vw;
    height: 4.8vh;
    border-style: solid;
    border-width: 0.2vw;
    border-color: #36C2CD;
}
